{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
<div class="logo">
    <img src="{% static 'logo.png' %}" class="logo">
</div>
<h1 class="header">Akim Zholdoshbek COM20-A midterm</h1>


{% for i in posts %}
    <div class="item" style="margin-bottom: 10px;">
        <h4 class="title">
            {{ i.title }}
        </h4>
        <div class="text">
            {{ i.text }}
        </div>
        <div class="date">
            {{ i.date }}
        </div>
    </div>
{% endfor %}
</body>

</html>